<a href="https://colab.research.google.com/github/leksangpelkey/Predictive-Analytics/blob/main/class_work_Ecommerce_Purchases_Exercise_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ecommerce Purchases Exercise

In this Exercise you will work with 'Fake Data' about some purchases done through Amazon! Follow the directions on the cells bellow and try your best to answer the questions and complete the tasks. Many of the tasks can be solved in 'different ways'.

Do not get discouraged if the exercie does not make "Real-World", REMEMBER that all the data is made-up.

Also note that all of these questions can be answered with one line of code.
____
*Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.*

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
econ = pd.read_csv('https://raw.githubusercontent.com/glopez21/ML-Data/main/EcommercePurchases.csv')

**Check the head of the DataFrame.**

In [ ]:
econ.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

*How many rows and columns are there?*

In [ ]:
econ.shape

(10000, 14)

*What is the average Purchase Price?*

In [ ]:
econ['Purchase Price'].mean()

50.34730200000025

*What were the highest and lowest purchase prices?*

In [ ]:
Highest_purchase_price = econ['Purchase Price'].max()

In [ ]:
Highest_purchase_price

99.99

In [ ]:
Lowest_purchase_price = econ['Purchase Price'].min()

In [ ]:
Lowest_purchase_price

0.0

*How many people have English 'en' as their Language of choice on the website?*

In [ ]:
english = econ[(econ['Language']=='en')].value_counts()

In [ ]:
english.count()

1098

*How many people have the job title of "Lawyer" ?*

In [ ]:
lawyer = econ[(econ['Job']=='Lawyer')].value_counts()

In [ ]:
lawyer.count()

30

*How many people made the purchase during the AM and how many people made the purchase during PM ?*

*(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) )*

In [ ]:
econ['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

*What are the 5 most common Job Titles?*

In [ ]:
common_job = econ['Job'].value_counts().nlargest(5)
common_job

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

*Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?*

In [ ]:
purchase_price = econ[(econ['Lot']=='90 WT')]
purchase_price['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

*What is the email of the person with the following Credit Card Number: 4926535242672853*

In [ ]:
email = econ[(econ['Credit Card']==4926535242672853)]
email['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

*How many people have American Express as their Credit Card Provider and made a purchase above $95 ?*

In [ ]:
people = econ[((econ['CC Provider']=='American Express'))&(econ['Purchase Price']>95)].value_counts()

In [ ]:
people.count()

39

*Hard: How many people have a credit card that expires in 2025?*

In [ ]:
econ[econ['CC Exp Date'].apply(lambda x:x[3:])=='25'].count()

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
Year                1033
dtype: int64

In [ ]:
econ['Year'] = econ['CC Exp Date'].str[3:5]

In [ ]:
econ.groupby(['Year']).count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
Year,,,,,,,,,,,,,,
16,376,376,376,376,376,376,376,376,376,376,376,376,376,376
17,955,955,955,955,955,955,955,955,955,955,955,955,955,955
18,995,995,995,995,995,995,995,995,995,995,995,995,995,995
19,995,995,995,995,995,995,995,995,995,995,995,995,995,995
20,988,988,988,988,988,988,988,988,988,988,988,988,988,988
21,1006,1006,1006,1006,1006,1006,1006,1006,1006,1006,1006,1006,1006,1006
22,996,996,996,996,996,996,996,996,996,996,996,996,996,996
23,1010,1010,1010,1010,1010,1010,1010,1010,1010,1010,1010,1010,1010,1010
24,992,992,992,992,992,992,992,992,992,992,992,992,992,992
25,1033,1033,1033,1033,1033,1033,1033,1033,1033,1033,1033,1033,1033,1033
26,654,654,654,654,654,654,654,654,654,654,654,654,654,654

In [ ]:

#expire_2025 = econ[(econ['Year']==25)].value_counts()
#expire_2025.count()

0

*Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)*

In [ ]:
econ['Email'].apply(lambda email:email.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

# Cheers!